<nav class="navbar">
    <div class="nav-container">
        <a href="#" class="nav-logo">Capstone</a>
        <ul class="nav-links">
            <li><a routerLink="/" class="nav-link" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
            <li><a routerLink="/projects" class="nav-link" routerLinkActive="active">Projects</a></li>
            <li><a routerLink="/add-project" class="nav-link" routerLinkActive="active">Add New Project</a></li>
        </ul>
    </div>
</nav>